.body{
    position: relative;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    height: 110vh;
    background-color: var(--hue1);
    border-radius: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

#resume-title{
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
    color: var(--hue9);
}

#resume-subtitle{
    padding: 20px;
    padding-top: 5px;
    font-size: 24px;
    text-align: center;
    color: var(--hue8);
}

#start-now{
    position: relative;
    width: 10vw;
    height: 5vh;
    background-color: var(--hue1);
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border-width: 0px;
    color: var(--hue8);
}

a{
    text-decoration: none;
    color: var(--hue8);
}

a:hover{
    text-decoration: none;
}

h6{
    padding: 10px;
}